@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.navbar-logo{
    width: 80px;
    height: 70px;
    border-radius: 0.5rem;
}
#navItem1{
    color: #ffffff;
    font-family: "Roboto";
}
#navItem1:hover{
    border-bottom: 2px solid #323299;
}
@media screen and (max-width:767px) {
    #navItem1:hover{
        border-bottom: none;
    }
}
#navItem2{
    color: #ffffff;
    font-family: "Roboto";
}
#navItem2:hover{
    border-bottom: 2px solid #323299;
}
@media screen and (max-width:767px) {
    #navItem2:hover{
        border-bottom: none;
    }
}
#navItem3{
    color: #ffffff;
    font-family: "Roboto";
}
#navItem3:hover{
    border-bottom: 2px solid #323299;
}
@media screen and (max-width:767px) {
    #navItem3:hover{
        border-bottom: none;
    }
}
#navItem4{
    color: #ffffff;
    font-family: "Roboto";
}
#navItem4:hover{
    border-bottom: 2px solid #323299;
}
@media screen and (max-width:767px) {
    #navItem4:hover{
        border-bottom: none;
    }
}
#navItem5{
    color: #ffffff;
    font-family: "Roboto";
}
#navItem5:hover{
    border-bottom: 2px solid #323299;
}
@media screen and (max-width:767px) {
    #navItem5:hover{
        border-bottom: none;
    }
}
/* home section */
#homeSection{
    background-image: url('https://img.freepik.com/free-photo/standard-quality-control-concept-m_23-2150041863.jpg?t=st=1738549908~exp=1738553508~hmac=5a34af6232606a2c64202341d6562ad1e0b8860cafed7c65a63c689eddb7894e&w=826');
    height: 80vh;
    background-size: cover;
    padding-top: 8rem;
}
.text-container{
    max-width: 40rem;
    margin: 1.5rem 8rem;
}
@media screen and (max-width:767px) {
    .text-container{
        max-width: 20rem;
        margin: 4rem 4rem;
    }
}
.home-heading{
    font-weight: 900;
    font-family: "Roboto";
    color: #7fb2e5;
}
@media screen and (max-width:767px) {
    .home-heading{
        font-weight:700;
        font-size:28px;
    }
}
.home-description{
    font-family: "Roboto";
    color: #ffffff;
    font-size: 22px;
}
@media screen and (max-width:767px) {
    .home-description{
        font-size: 16px;
    }
}
.read-more-button{
    background: white;
    color: black;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-family: "Roboto";
}
/* create about section */
#aboutSection{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: calc(80vh - 4rem);
   width: 100vw;
   max-width: 90rem;
}
@media screen and (max-width:767px){
    #aboutSection{
        flex-direction: column;
    }
}
.about-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}
.heading-underline-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:767px) {
    .heading-underline-container{
        flex-direction: column;
    }
}
.about-heading{
    color: #5052c1;
    font-family: "Roboto";
}
.underline{
    border-bottom: 3px solid #5052c1;
    width: 150px;
    margin-left: 2rem;
}
.about-desc{
}
.about-btn{
    border: none;
    border-radius: 0.5rem;
    background: #5052c1;
    color: #fff;
    padding: 0.5rem 1rem;
}
.about-img{
    width: 350px;
}